
.Header {
    width: auto;
    height: 100px;
    background-color: black;
    font-size: x-large;
    color: white;
    background-image: url("../images/HeaderBG.png");
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    overflow: hidden;
    flex-direction: row;
}

.headerData {
    display: flex;
    height: inherit;
    vertical-align: middle;
}

#icon {
    display: inline-block;
}

.headerTitle {
    margin-top: auto;
    margin-bottom: auto;
    height: min-content;
    display: inline-block;
}

.loginInfo {
    background-color: black;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 5px;
    font-size: small;
}